.workbench-layout {
  position: relative;
  overflow: hidden;
  background-color: #fbfbfb;
}
.card-content {
  width: 100%;
  transition: all 0.3s ease;
}
.card-content-collapsed {
  width: calc(100% - 200px);
}
.tool-icon-wrap {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: right;
  padding: 0 10px;
  span {
    margin: 0 10px;
  }
}
.menu-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1000;
}
.list {
  position: absolute;
  right: 0;
  top: 15px;
  width: 80px;
  border-radius: 4px;
  box-shadow: 0 0 40px 0 rgba(190, 190, 190, 0.1);
  background-color: #ffff;
  .carte {
    cursor: pointer;
  }
}
