.menu-list {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  background-color: aqua;
  transition: all 0.3s ease;
}
.menu-list-collapsed {
}
.menu-item {
  width: 100%;
  padding: 15px 20px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
